{% set is_available = book.isAvailable() %}

<div class="max-w-4xl mx-auto bg-white rounded-lg shadow-lg overflow-hidden border border-gray-200 flex flex-col md:flex-row h-[80vh]">
    <div class="md:w-2/5 h-full bg-gray-100 flex items-center justify-center p-4">
        <img
                src="{{ asset(book.cover ?? 'images/no-cover-book.png') }}"
                alt="Couverture de {{ book.title }}"
                class="object-fit h-full w-full max-h-[70vh]"
                loading="lazy"
        >
    </div>

    <div class="md:w-3/5 p-6 flex flex-col h-full overflow-y-auto gap-2">
        <div class="gap-2 flex flex-col">
            <h1 class="text-3xl font-bold text-gray-900">{{ book.title }}</h1>

            <div class="flex items-center space-x-4">
                {% if book.authors|length > 0 %}
                    <p class="text-lg text-gray-700">
                        Par <span class="font-semibold">{{ book.authors|map(a => a.name)|join(', ') }}</span>
                    </p>
                {% endif %}

                {% if book.year %}
                    <span class="text-gray-500">•</span>
                    <p class="text-gray-600">{{ book.year }}</p>
                {% endif %}
            </div>
        </div>


        <div class="flex-grow min-h-60 overflow-y-auto">
            {% if book.description is not empty %}
                <h3 class="text-xl font-semibold text-gray-800 mb-2">Description</h3>
                <div class="prose max-w-none text-gray-700">
                    {{ book.description|raw|nl2br }}
                </div>
            {% endif %}
        </div>


        <div class="border-t border-gray-200 flex justify-between">
            <a href="{{ path('app_home') }}" class="inline-flex items-center text-blue-600 hover:text-blue-800 gap-2">
                <twig:ux:icon name="heroicons-solid:arrow-left" class="size-5"/>
                <span>Retour à la liste</span>
            </a>

            <div class="flex items-center inline-flex items-center {{ is_available ? 'text-green-600' : 'text-red-600' }}">
                <twig:ux:icon name="carbon:dot-mark"
                              class="size-5"/>
                <span class="text-sm font-medium">
                {{ is_available ? 'Disponible' : 'Indisponible' }}
            </span>
            </div>

            <a href="#" class="gap-2 flex inline-flex items-center bg-indigo-600 text-white px-2 rounded-lg">
                <span>{{ is_available ? 'Emprunter' : 'Réserver' }}</span>
                {% if is_available %}
                    <twig:ux:icon name="mdi:hand-open" class="size-5"/>
                {% else %}
                    <twig:ux:icon name="subway:time-1" class="size-5"/>
                {% endif %}
            </a>

        </div>
    </div>
</div>