<div class="flex-shrink-0 w-[14rem] h-[20rem] bg-white rounded-lg shadow flex flex-col shadow-md">
    <a href="#" class="flex-shrink-0 h-[16rem] block overflow-hidden rounded-t-lg">
        <img class="w-full h-full transition-transform duration-300 hover:scale-105 object-contain"
             src="{{ asset(book.cover ?? 'images/no-cover-book.png') }}"
             alt="Couverture du livre {{ book.title }}" />
    </a>
    <div class="flex-grow flex flex-col p-2 h-[3rem]">
        <h5 class="text-sm font-bold text-gray-900 line-clamp-1 w-full">
            {% if book.authors|length > 0 %}
                {{ book.authors[0].name }}
            {% else %}
                Auteur inconnu
            {% endif %}
        </h5>
        <span class="text-xs text-gray-700 text-justify line-clamp-2">{{ book.year ? book.year ~ ' - ' : '' }}{{ book.title }}</span>
    </div>
</div>