<nav class="flex justify-between items-center p-2 bg-gray-200 shadow-md">
    <div class="flex items-center space-x-4">
        <a href="{{ path('app_home') }}">
            <img class="h-6 w-auto" src="{{ asset('images/owl.svg') }}" alt="Minerva">
        </a>
        <twig:Dropdown
                buttonText="Collections"
                position="left"
                :items="[
                { label: 'Thèmes', path: path('app_home') },
                { label: 'Auteurs', path: path('app_home', { sliders: 'authors' }) }
            ]"
        />
    </div>

    <div class="flex items-center space-x-4">
        {% if this.isAuthenticated() %}
            <twig:Dropdown
                    buttonIcon="gg:profile"
                    buttonIconSize="20"
                    buttonIconClass="text-gray-600"
                    position="right"
                    :items="[
                    {
                        label: 'Mon profil',
                        path: path('app_home'),
                        icon: 'heroicons:user-circle',
                        iconClass: 'text-blue-500'
                    },
                    {
                        label: 'Paramètres',
                        path: path('app_home'),
                        icon: 'heroicons:cog-6-tooth',
                        iconClass: 'text-gray-500'
                    },
                    {
                        label: 'Déconnexion',
                        path: path('app_logout'),
                        icon: 'heroicons:arrow-left-on-rectangle',
                        iconClass: 'text-red-500'
                    }
                ]"
            />

            <span class="text-sm/6 text-gray-500">{{ this.getUserIdentifier() }}</span>
        {% else %}
            <div class="flex items-center space-x-4">
                <a href="{{ path('app_login') }}" class="flex items-center gap-1 text-sm/6 font-semibold text-gray-900 hover:text-blue-500">
                    <twig:Icon name="heroicons:arrow-right-on-rectangle" class="text-gray-500" width="16" height="16" />
                    <span>Login</span>
                </a>
                <a href="{{ path('app_register') }}" class="flex items-center gap-1 text-sm/6 font-semibold text-gray-900 hover:text-green-500">
                    <twig:Icon name="heroicons:user-plus" class="text-gray-500" width="16" height="16" />
                    <span>Register</span>
                </a>
            </div>
        {% endif %}
    </div>
</nav>