<nav class="flex justify-between items-center p-2 bg-gray-200 shadow-md">
    <div class="flex items-center space-x-4">
        <a href="{{ path('app_home') }}">
            <img class="h-6 w-auto" src="{{ asset('images/owl.svg') }}" alt="Minerva">
        </a>

        {% component 'dropdown' with {
            buttonText: 'Collections',
            buttonIcon: '📚',
            position: 'left',
            items: [
                { label: 'Thèmes', path: path('app_home') },
                { label: 'Auteurs', path: path('app_home', { sliders: 'authors' }) }
            ]
        } %}
        {% endcomponent %}
    </div>

    <div class="flex items-center space-x-4">
        {% if this.isAuthenticated() %}
            <span class="text-sm/6 text-gray-500">{{ this.getUserIdentifier() }}</span>
            <a href="{{ path('app_logout') }}" class="text-sm/6 font-semibold text-red-500 hover:text-red-700">Logout</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="text-sm/6 font-semibold text-gray-900 hover:text-blue-500">Login</a>
            <a href="{{ path('app_register') }}" class="text-sm/6 font-semibold text-gray-900 hover:text-green-500">Register</a>
        {% endif %}
    </div>
</nav>