<tr>
    <td class="whitespace-nowrap">
        <div class="flex items-center py-1.5">
            <div class="flex-shrink-0 h-10 w-10">
                {% if borrowing.bookCopy.book.cover %}
                    <img class="h-10 w-10 rounded-md object-cover" src="{{ asset(borrowing.bookCopy.book.cover) }}" alt="Couverture">
                {% else %}
                    <twig:ux:icon name="fa6-solid:book" class="h-10 w-10 text-gray-400" />
                {% endif %}
            </div>
            <div class="ml-4">
                <div class="text-sm font-medium text-gray-900">{{ borrowing.bookCopy.book.title }}</div>
                <div class="text-sm text-gray-500">
                    {% for author in borrowing.bookCopy.book.authors|slice(0, 2) %}
                        {{ author.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </td>
    <td class="whitespace-nowrap text-sm text-gray-500 text-center">
        {{ borrowing.borrowDate|date('d/m/Y') }}
    </td>
    <td class="whitespace-nowrap text-sm text-gray-500 text-center">
        {{ borrowing.dueDate|date('d/m/Y') }}
    </td>
    <td class="whitespace-nowrap text-center">
        {% if borrowing.returnDate %}
            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                Retourné
            </span>
        {% elseif date() > borrowing.dueDate %}
            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                En retard
            </span>
        {% else %}
            <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-blue-800">
                En cours
            </span>
        {% endif %}
    </td>
</tr>
